<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<section class="search-form">
  <%= form_for :movies, method: :get do |f| %>
      <div class="input-group input-group-lg">
        <%= label_tag :keywords, nil, class: "sr-only" %>
        <%= text_field_tag :keywords, nil,
                           placeholder: "Title, Original Title, Synopsis",
                           class: "form-control input-lg" %>
        <span class="input-group-btn">
<%= submit_tag "Find Movie",
               class: "btn btn-primary btn-lg" %>
</span>
      </div>
  <% end %>

</section>
<br>
<section class="search-result">
<table class="table table-dark">
  <thead>
    <tr>
      <th>Title</th>
      <th>Originaltitle</th>
      <th>Releaseyear</th>
      <th>Cover</th>
      <th>Length</th>
      <th>Ageres</th>
      <th>Synopsis</th>
      <th>Actors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% if @movies.present? %>
      <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
  <% end %>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie %></td>
        <td><%= movie.originaltitle %></td>
        <td><%= movie.releaseyear %></td>
        <td><img src="<%= movie.cover %>" height="20%" ></td>
        <td><%= movie.length %></td>
        <td><%= movie.ageres %></td>
        <td><%= movie.synopsis %></td>
        <td><%= movie.actors.map{|actor| actor.fname + " " + actor.name}.join(", ") %></td>

        <td class="pull-right"><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td class="pull-right"><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <% if @movies.present? %>
      <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
  <% end %>
</section>




<br>

<%= link_to 'New Movie', new_movie_path %>


