<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<%= form_tag(movies_path, method: :get) do %>
    <%= text_field_tag :term %>
    <%= submit_tag 'Search', name: nil %>
<% end %>


<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Originaltitle</th>
    <th>Releaseyear</th>
    <th>Cover</th>
    <th>Length</th>
    <th>Ageres</th>
    <th>Synopsis</th>
    <th>Actors</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie %></td>
        <td><%= movie.originaltitle %></td>
        <td><%= movie.releaseyear %></td>
        <td><img src="<%= movie.cover %>" height="20%" ></td>
        <td><%= movie.length %></td>
        <td><%= movie.ageres %></td>
        <td><%= movie.synopsis %></td>
         <td><% @movies_with_actors.each do | movie | %>  <% end %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>