<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Originaltitle:</strong>
  <%= @movie.originaltitle %>
</p>

<p>
  <strong>Actors:</strong>
  <%= @actors_s %>
  </p>

<p>
  <strong>Genres:</strong>
  <%=  %>
</p>

<p>
  <strong>Releaseyear:</strong>
  <%= @movie.releaseyear %>
</p>

<p>
  <strong>Length:</strong>
  <%= @movie.length %>
</p>

<p>
  <strong>Ageres:</strong>
  <%= @movie.ageres %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @movie.synopsis %>
</p>

<p>
  <strong>Cover:</strong>
  <img src="<%= @movie.cover %>" height="20%" >
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
