<!DOCTYPE html>
<html>
  <head>
    <title>MovieDB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container"> <% if notice.present? %>
      <aside class="alert alert-info"> <%= notice %>
      </aside>
  <% end %>
  <% if alert.present? %>
      <aside class="alert alert-danger"> <%= alert %>
      </aside>
  <% end %>
  <header class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
      <%= link_to "MOVIEDB", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li class="nav-item"><%= link_to "GENRES",   'genres#index' %></li>
              <li class="nav-item"><%= link_to "MOVIES",   'movies#index' %></li>
              <li class="nav-item"><%= link_to "ACTORS",   'actors#index' %></li>
              <li class="nav-item"><%= link_to('LOGOUT', destroy_user_session_path, method: :delete) %></li>
          <% else %>
              <li class="nav-item">
                <%= link_to('LOGIN', new_user_session_path)  %>
              </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
